#Appwrite configuration
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_USER_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_GOAL_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_TRAINING_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_EXERCISE_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_SERIES_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_SESSION_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_PERFORMANCE_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_WEEK_COLLECTION_ID=
EXPO_PUBLIC_APPWRITE_DELETE_ACCOUNT_FUNCTION_ID=
