@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.title {
		@apply text-3xl text-primary font-calsans;
	}

	.title-2 {
		@apply text-2xl text-primary font-calsans;
	}

	.title-3 {
		@apply text-xl text-primary font-calsans;
	}

	.title-4 {
		@apply text-lg text-primary font-calsans;
	}

	.text {
		@apply text-lg text-primary font-sregular;
	}

	.indicator-text {
		@apply text-primary-100 italic text-lg font-sregular;
	}
}

@layer components {
	.btn-primary {
		@apply flex-row items-center justify-center rounded-lg py-2.5 px-5 bg-background border border-secondary font-bold;
	}

	.btn-secondary {
		@apply flex-row items-center justify-center rounded-lg py-2.5 px-5 bg-secondary  font-bold;
	}

	.btn-tertiary {
		@apply flex-row items-center justify-center rounded-lg py-2.5 px-5 bg-primary font-bold;
	}

	.custom-input {
		@apply bg-background border border-primary-100 rounded-lg placeholder:text-primary-100 pl-4;
	}

	.custom-option {
		@apply text-lg text-primary font-sregular;
	}
}
